<form>
	<div class="form-main">
	<div class="form1">
		<h4>Add New Playlist</h4>
	  	<label for="playlist-name">Playlist Name</label>
	    <input type="text" class="playlist-form-input" id="playlist-name" placeholder="Enter Playlist">
	</div>
	<div class="form1">
	  	<label for="playlist-url">Playlist URL</label>
	    <input type="text" class="playlist-form-input" id="playlist-url" placeholder="Playlist URL">
	</div>
	<div class="form1">
		<button id="close" class="fas fa-times"></button>
		<button class="bottom-btns" id="next">Next</button>
		<button class="bottom-btns" id="reset">Reset Fields</button>
	</div>
</div>
	<!-- <button id="close">&#127335;</button> -->
	<div class="preview">
		<img src="https://www.projector.org.il/uploads/w-480/no-pic.png" alt="">
	</div>
</form>